<section class="ampHeader7 cid-sUZJlJz4rC" id="ampHeader7-1h">

  <div class="mbr-overlay"></div>
  <div class="container">
    <div class="mbr-row mbr-black mbr-jc-c main-row mbr-row-reverse">
      <div class="title-wrap mbr-col-md-12 mbr-col-sm-12 mbr-col-lg-4 align-center mbr-flex">
        <div class="title-block mbr-col-sm-12 mbr-col-md-12">
          <h1 class="mbr-section-title mbr-fonts-style mbr-bold display-2">Bienvenue sur Recruitment</h1>

          <p class="mbr-text mbr-fonts-style mbr-pt-2 display-7">Vous disposez déjà d'un compte ? Connectez-vous en
            cliquant sur le bouton ci-dessous !</p>
          <div class="mbr-section-btn mbr-pt-4"><a class="btn btn-black-outline display-7" routerLink="/login" >Se
              connecter</a></div>
        </div>
      </div>
      <div class="form-wrap mbr-col-md-12 mbr-col-sm-12 mbr-col-lg-8 mbr-flex">
        <div class="form-block mbr-col-md-12 mbr-col-sm-12 mbr-col-lg-12 mbr-m-auto">
          <div class="mbr-overlay"></div>
          <h3 class="form-title mbr-fonts-style mbr-black mbr-pb-2 display-2">S'inscrire</h3>
          <h4 class="mbr-fonts-style form-subtitle mbr-black mbr-pb-4 display-7">Renseignez le formulaire ci-dessous
            pour créer un compte.</h4>
          <div data-form-type="formoid">
            <!--Formbuilder Form-->
            <form method="POST" class="mbr-form" name="registerForm" #registerForm="ngForm"
              data-form-title="registerForm" id="myFormampHeader71h">
              <div class="dragArea mbr-form-row">
                <div data-for="form[data][0][1]" class="mbr-col-sm-12 mbr-col-md-12 mbr-col-lg-6 field ">
                  <label for="form[data][0][1]-ampHeader7-1h" class="form-control-label mbr-fonts-style display-7">Nom
                    complet *</label>
                  <input type="hidden" name="form[data][0][0]" value="name" id="form[data][0][0]-ampHeader7-1h"
                    data-form-field="">
                  <input [(ngModel)]="user.name"
                    on="change:AMP.setState({myStateampHeader71h:{formdata01ampHeader71h:{valueformdata01ampHeader71h: event.value}}})"
                    type="text" name="form[data][0][1]" placeholder="Nom complet" data-form-field="name"
                    required="required" class="field-input display-7" value="" id="form[data][0][1]-ampHeader7-1h">
                </div>
                <div data-for="form[data][1][1]" class="mbr-col field ">
                  <label for="form[data][1][1]-ampHeader7-1h"
                    class="form-control-label mbr-fonts-style display-7">Téléphone *</label>
                  <input type="hidden" name="form[data][1][0]" value="telephone" id="form[data][1][0]-ampHeader7-1h"
                    data-form-field="">
                  <input [(ngModel)]="user.telephone"
                    on="change:AMP.setState({myStateampHeader71h:{formdata11ampHeader71h:{valueformdata11ampHeader71h: event.value}}})"
                    type="text" name="form[data][1][1]" placeholder="+221" data-form-field="telephone"
                    required="required" class="field-input display-7" value="+221" id="form[data][1][1]-ampHeader7-1h">
                </div>
                <div data-for="form[data][2][1]" class="mbr-col-sm-12 mbr-col-md-12 mbr-col-lg-6 field ">
                  <label for="form[data][2][1]-ampHeader7-1h"
                    class="form-control-label mbr-fonts-style display-7">Email *</label>
                  <input type="hidden" name="form[data][2][0]" value="email" id="form[data][2][0]-ampHeader7-1h"
                    data-form-field="">
                  <input [(ngModel)]="user.email"
                    on="change:AMP.setState({myStateampHeader71h:{formdata21ampHeader71h:{valueformdata21ampHeader71h: event.value}}})"
                    type="email" name="form[data][2][1]" placeholder="E-mail Address" data-form-field="email"
                    required="required" class="field-input display-7" value="" id="form[data][2][1]-ampHeader7-1h">
                </div>
                <div data-for="form[data][3][1]" class="mbr-col-sm-12 mbr-col-md-12 mbr-col-lg-6 field ">
                  <label for="form[data][3][1]-ampHeader7-1h"
                    class="form-control-label mbr-fonts-style display-7">Profession *</label>
                  <input type="hidden" name="form[data][3][0]" value="profession" id="form[data][3][0]-ampHeader7-1h"
                    data-form-field="">
                  <input [(ngModel)]="user.profession"
                    on="change:AMP.setState({myStateampHeader71h:{formdata31ampHeader71h:{valueformdata31ampHeader71h: event.value}}})"
                    type="text" name="form[data][3][1]" placeholder="Profession" data-form-field="profession"
                    required="required" class="field-input display-7" value="" id="form[data][3][1]-ampHeader7-1h">
                </div>
                <div data-for="form[data][4][1]" class="mbr-col-md-12 mbr-col-sm-12 text-field field ">
                  <label for="form[data][4][1]-ampHeader7-1h"
                    class="form-control-label mbr-fonts-style display-7">Présentation</label>
                  <input type="hidden" name="form[data][4][0]" value="presentation" id="form[data][4][0]-ampHeader7-1h"
                    data-form-field="">
                  <textarea [(ngModel)]="user.presentation"
                    on="change:AMP.setState({myStateampHeader71h:{formdata41ampHeader71h:{valueformdata41ampHeader71h: event.value}}})"
                    name="form[data][4][1]" placeholder="Présentation" data-form-field="presentation"
                    class="field-input display-7" id="form[data][4][1]-ampHeader7-1h"></textarea>
                </div>
                <div class="mbr-col-lg-12 mbr-col-md-12 mbr-col-sm-12">
                  <hr>
                </div>
                <div data-for="form[data][5][1]" class="mbr-col-lg-6 mbr-col-md-12 mbr-col-sm-12 field">
                  <label for="form[data][5][1]-ampHeader7-1h"
                    class="form-control-label mbr-fonts-style display-7">Nouveau mot de passe *</label>
                  <input type="hidden" name="form[data][5][0]" value="password" id="form[data][5][0]-ampHeader7-1h"
                    data-form-field="">
                  <input [(ngModel)]="user.password"
                    on="change:AMP.setState({myStateampHeader71h:{formdata51ampHeader71h:{valueformdata51ampHeader71h: event.value}}})"
                    type="password" name="form[data][5][1]" placeholder="Nouveau mot de passe"
                    data-form-field="password" required="required" class="field-input display-7" value=""
                    id="form[data][5][1]-ampHeader7-1h">
                </div>
                <div data-for="form[data][6][1]" class="mbr-col-lg-6 mbr-col-md-12 mbr-col-sm-12 field">
                  <label for="form[data][6][1]-ampHeader7-1h"
                    class="form-control-label mbr-fonts-style display-7">Confirmation mot de passe *</label>
                  <input type="hidden" name="form[data][6][0]" value="password_confirm"
                    id="form[data][6][0]-ampHeader7-1h" data-form-field="">
                  <input [(ngModel)]="user.password_confirmation"
                    on="change:AMP.setState({myStateampHeader71h:{formdata61ampHeader71h:{valueformdata61ampHeader71h: event.value}}})"
                    type="password" name="form[data][6][1]" placeholder="Confirmation mot de passe"
                    data-form-field="password_confirm" required="required" class="field-input display-7" value=""
                    id="form[data][6][1]-ampHeader7-1h">
                </div>
                <div class="mbr-col-md-12 mbr-col-sm-12 mbr-section-btn field">
                  <button nz-button [nzLoading]="registering" [disabled]="registerForm.invalid" type="button" (click)="register()" class="btn btn-black-outline display-7">S'inscrire</button>
                </div>
              </div>
            </form>
            <!--Formbuilder Form-->
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
