.cid-sUX22uYNxM {
  background-color: #f3f2ef;
  overflow: visible;
}

.cid-sUX22uYNxM .navbar {
  background: #f3f2ef;
}

.cid-sUX22uYNxM .navbar {
  box-shadow: 2.5px 4.33px 30px 0 rgba(0, 0, 0, 0.1);
}

.cid-sUX22uYNxM .dropdown-menu {
  box-shadow: 5px 7px 8px -3px rgba(0, 0, 0, 0.1);
}

.cid-sUX22uYNxM .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}

.cid-sUX22uYNxM .navbar-logo amp-img,
.cid-sUX22uYNxM .navbar-logo img {
  height: 42px;
  width: 45px;
}

.cid-sUX22uYNxM .navbar-caption {
  line-height: inherit;
}

.cid-sUX22uYNxM .nav-dropdown .dropdown-menu {
  padding-bottom: 0;
  padding-top: 0.5rem;
}

.cid-sUX22uYNxM .nav-dropdown .dropdown-menu .dropdown-item {
  justify-content: flex-start;
  padding: 0.5rem 1.5rem;
}

.cid-sUX22uYNxM .navbar .navbar-collapse {
  width: 70%;
  justify-content: space-between;
}

@media (max-width: 991px) {
  .cid-sUX22uYNxM .navbar .navbar-collapse {
    background: #f3f2ef;
  }
}

.cid-sUX22uYNxM .nav-link {
  margin: 0.667em 1em;
  padding: 0;
}

.cid-sUX22uYNxM .dropdown-item.active,
.cid-sUX22uYNxM .dropdown-item:active {
  background-color: transparent;
}

.cid-sUX22uYNxM .dropdown-menu {
  background: #f3f2ef;
}

.cid-sUX22uYNxM .hamburger span {
  background-color: #232323;
}

.cid-sUX22uYNxM .builder-sidebar {
  background-color: #f3f2ef;
}

.cid-sUX22uYNxM .close-sidebar:focus {
  outline: 2px auto #000000;
}

.cid-sUX22uYNxM .close-sidebar span {
  background-color: #232323;
}

@media (min-width: 992px) {
  .cid-sUX22uYNxM .menu-social-list {
    padding-left: 1rem;
  }
}

@media (max-width: 991px) {
  .cid-sUX22uYNxM .menu-social-list {
    padding-top: 0.5rem;
  }
}

.cid-sUX22uYNxM .link,
.cid-sUX22uYNxM .dropdown-item:hover {
  color: #000000;
}

.cid-sUX22uYNxM .amp-iconfont {
  font-size: 1.5rem;
  width: 1.5rem;
}

.cid-sUZxVmezpO {
  padding-top: 0px;
  padding-bottom: 0px;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 99999;
  background-color: #f3f2ef;
}

.cid-sUZxVmezpO .mbr-text {
  color: #000000;
}

.cid-sV3exUsK63 {
  padding-top: 2rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
  align-items: center;
  display: flex;
}

.cid-sV3exUsK63 .form-block .mbr-overlay {
  opacity: 1;
  background: #f3f2ef;
}

@media (min-width: 992px) {
  .cid-sV3exUsK63 .form-block {
    padding: 1rem;
  }
}

.cid-sV3exUsK63 .form-block input,
.cid-sV3exUsK63 .form-block textarea {
  background: #ffffff;
}

.cid-sV3exUsK63 .form-block input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.cid-sV3exUsK63 .form-block input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.cid-sV3exUsK63 .form-block textarea::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.cid-sV3exUsK63 .form-block textarea::-moz-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.cid-sV3exUsK63 .form-block .mbr-section-btn {
  margin: 0.5rem;
}

.cid-sV3exUsK63 .field {
  flex: 1 1 100%;
  position: relative;
}

.cid-sV3exUsK63 .field input {
  padding-left: 3.5rem;
}

.cid-sV3exUsK63 .mbr-section-btn {
  margin: 0;
}

.cid-sV3exUsK63 .title-block {
  padding-left: 0;
  padding-right: 0;
}

.cid-sV3exUsK63 .line {
  border-bottom: 1px solid #000000;
  display: inline-block;
  width: 50%;
}

@media (min-width: 992px) {
  .cid-sV3exUsK63 .main-row>* {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .cid-sV3exUsK63 .main-row {
    margin-left: -2rem;
    margin-right: -2rem;
  }
}

.cid-sV3exUsK63 .amp-iconfont {
  font-size: 1.5rem;
}

.cid-sV3exUsK63 input,
.cid-sV3exUsK63 textarea {
  border: none;
  border-bottom: 1px solid #cccccc;
}

.cid-sV3exUsK63 input:focus,
.cid-sV3exUsK63 textarea:focus {
  border-bottom: 1px solid #000000;
}

[class*="-iconfont"] {
  display: inline-flex;
}

/* drag drop zone */
.example-container {
  width: 400px;
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
}

.example-list {
  border: solid 1px #ccc;
  min-height: 60px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}

.example-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-disabled {
  background: #ccc !important;
  cursor: default;
}
