<section class="ampHeader31 cid-sV3exUsK63" id="ampHeader31-27">
  <div class="container">
    <div class="mbr-row mbr-black mbr-jc-c main-row mbr-row-reverse">
      <div class="title-wrap mbr-col-md-12 mbr-col-sm-12 mbr-col-lg-12 align-center mbr-pb-4">
        <div class="title-block mbr-col-sm-12 mbr-col-md-12">

          <h1 class="mbr-section-title mbr-fonts-style mbr-semibold display-2">Créer une campagne de recrutement</h1>
          <p class="mbr-text mbr-fonts-style mbr-pt-2 display-7">Lancer une nouvelle campagne de recrutement et partagez
            la sur les réseaux sociaux et profitez pleinement de la plateforme pour une gestion centralisée des
            candidatures.</p>
          <div class="line mbr-pt-4 mbr-col-md-3"></div>

        </div>
      </div>
      <div class="form-wrap mbr-col-md-12 mbr-col-sm-12 mbr-col-lg-12">
        <div class="form-block mbr-col-md-12 mbr-col-sm-12 mbr-col-lg-10 mbr-m-auto" data-form-type="formoid">
          <!--Formbuilder Form-->
          <div class="mbr-overlay"></div>
          <form #formID method="post" #form="ngForm" class="mbr-form" data-form-title="campagneNewForm"
            id="myFormampHeader3127">
            <div class="dragArea mbr-row">
              <div class="mbr-col-md-12 mbr-col-sm-12">
                <h4
                  class="mbr-fonts-style mbr-fonts-style mbr-fonts-style mbr-fonts-style mbr-fonts-style mbr-fonts-style form-subtitle mbr-pb-2 display-5">
                  Nouvelle campagne de recrutement</h4>
              </div>
              <hr style="width: 100%;">
              <div data-for="form[data][0][1]" class="mbr-col-lg-6 mbr-col-md-6 mbr-col-sm-12 field">
                <label for="form[data][0][1]-ampHeader31-27"
                  class="form-control-label mbr-fonts-style display-7">Entrepise *</label>
                <input type="hidden" name="form[data][0][0]" value="entreprise_id" id="form[data][0][0]-ampHeader31-27"
                  data-form-field="">
                <br>
                <nz-select style="width: 100%" nzSize="large" nzPlaceHolder="Sélectionnez une entreprise" nzAllowClear
                  [(ngModel)]="selectedEntreprise" name="entreprises" (nzOpenChange)="getAllEntreprisesOfCurrentUser()">
                  <ng-container *ngFor="let entreprise of entreprises">
                    <nz-option *ngIf="!isLoadingEntreprises" [nzValue]="entreprise" [nzLabel]="entreprise.name!">
                    </nz-option>
                  </ng-container>
                  <nz-option *ngIf="isLoadingEntreprises" nzDisabled nzCustomContent>
                    <i nz-icon nzType="loading" class="loading-icon"></i>
                    Chargement de vos entreprises...
                  </nz-option>
                </nz-select>
              </div>
              <div data-for="form[data][7][1]" class="mbr-col-lg-6 mbr-col-md-6 mbr-col-sm-12 text-field field">
                <label for="form[data][7][1]-ampHeader31-27"
                  class="form-control-label mbr-fonts-style display-7">Spécifications *</label>
                <input type="hidden" name="form[data][5][0]" value="specifications" id="form[data][7][0]-ampHeader31-27"
                  data-form-field="">
                <br>
                <nz-select style="width: 100%;" nzPlaceHolder=" Sélectionnez un type d'offre"
                  [(ngModel)]="selectedTypeOffres" name="types d'offre" nzAllowClear nzMode="multiple" nzSize="large"
                  (nzOpenChange)="getAllTypeOffre()">
                  <ng-container *ngFor="let typeOffre of typeOffres">
                    <nz-option *ngIf="!isLoadingTypeOffres" [nzValue]="typeOffre" [nzLabel]="typeOffre.name!"
                      [nzHide]="isTypeOffreSelected(typeOffre)">
                    </nz-option>
                  </ng-container>
                  <nz-option *ngIf="isLoadingTypeOffres" nzDisabled nzCustomContent>
                    <i nz-icon nzType="loading" class="loading-icon"></i>
                    Chargement des types d'offres...
                  </nz-option>
                </nz-select>
              </div>

              <div data-for="form[data][1][1]" class="mbr-col-md-12 mbr-col-sm-12 field">
                <label for="form[data][1][1]-ampHeader31-27" class="form-control-label mbr-fonts-style display-7">Titre
                  de la campagne *</label>
                <input type="hidden" name="form[data][1][0]" value="titre" id="form[data][1][0]-ampHeader31-27"
                  data-form-field="">
                <input name="titre" [(ngModel)]="campagne.titre"
                  amp-value="myStateampHeader3127.formdata11ampHeader3127.stateformdata11ampHeader3127"
                  on="change:AMP.setState({myStateampHeader3127:{formdata11ampHeader3127:{valueformdata11ampHeader3127: event.value}}})"
                  type="text" name="form[data][1][1]" placeholder="Titre de la campagne de recrutement"
                  data-form-field="titre" required="required" class="field-input display-7" value=""
                  id="form[data][1][1]-ampHeader31-27">
              </div>

              <div data-for="form[data][0][1]" class="mbr-col-lg-6 mbr-col-md-6 mbr-col-sm-12 field">
                <label for="form[data][0][1]-ampHeader31-27"
                  class="form-control-label mbr-fonts-style display-7">Catégorie d'emploi *</label>
                <input type="hidden" name="form[data][0][0]" value="categorie_emploi"
                  id="form[data][0][0]-ampHeader31-27" data-form-field="">
                <br>
                <nz-select style="width: 100%" nzSize="large" nzPlaceHolder="Sélectionnez une catégorie d'emploi"
                  nzAllowClear [(ngModel)]="selectedCategorieEmploi" name="catégories d'emploi"
                  (nzOpenChange)="getAllCategorieEmplois()">
                  <ng-container *ngFor="let CategorieEmploi of CategorieEmplois">
                    <nz-option *ngIf="!isLoadingCategorieEmplois" [nzValue]="CategorieEmploi"
                      [nzLabel]="CategorieEmploi.name!">
                    </nz-option>
                  </ng-container>
                  <nz-option *ngIf="isLoadingCategorieEmplois" nzDisabled nzCustomContent>
                    <i nz-icon nzType="loading" class="loading-icon"></i>
                    Chargement des catégories d'emploi...
                  </nz-option>
                </nz-select>
              </div>
              <div data-for="form[data][7][1]" class="mbr-col-lg-6 mbr-col-md-6 mbr-col-sm-12 text-field field">
                <label for="form[data][7][1]-ampHeader31-27"
                  class="form-control-label mbr-fonts-style display-7">Hashtags
                  *</label>
                <input type="hidden" name="form[data][5][0]" value="hashtags" id="form[data][7][0]-ampHeader31-27"
                  data-form-field="">
                <br>
                <nz-select style="width: 100%;" nzPlaceHolder=" Sélectionnez un ou plusieurs hashtags"
                  [(ngModel)]="selectedHashtags" name="hashtags" nzAllowClear nzMode="multiple" nzSize="large"
                  (nzOpenChange)="getAllHashtags()">
                  <ng-container *ngFor="let hashtag of hashtags">
                    <nz-option *ngIf="!isLoadingHashtags" [nzValue]="hashtag" [nzLabel]="hashtag.nom!"
                      [nzHide]="isHashtagSelected(hashtag)">
                    </nz-option>
                  </ng-container>
                  <nz-option *ngIf="isLoadingHashtags" nzDisabled nzCustomContent>
                    <i nz-icon nzType="loading" class="loading-icon"></i>
                    Chargement des hashtags...
                  </nz-option>
                </nz-select>



              </div>


              <div data-for="form[data][2][1]" class="mbr-col-md-6 mbr-col-sm-12 field ">
                <label for="form[data][2][1]-ampHeader31-27" class="form-control-label mbr-fonts-style display-7">Lieu
                  *</label>
                <input type="hidden" name="form[data][2][0]" value="lieu" id="form[data][2][0]-ampHeader31-27"
                  data-form-field="">
                <input name="lieu" [(ngModel)]="campagne.lieu"
                  amp-value="myStateampHeader3127.formdata21ampHeader3127.stateformdata21ampHeader3127"
                  on="change:AMP.setState({myStateampHeader3127:{formdata21ampHeader3127:{valueformdata21ampHeader3127: event.value}}})"
                  type="text" name="form[data][2][1]" placeholder="Lieu où le travailleur doit résider"
                  data-form-field="lieu" required="required" class="field-input display-7" value=""
                  id="form[data][2][1]-ampHeader31-27">
              </div>
              <div data-for="form[data][4][1]" class="mbr-col-lg-6 mbr-col-md-6 mbr-col-sm-12 field">
                <label for="form[data][4][1]-ampForm13-1p" class="form-control-label mbr-fonts-style display-7">Photo de
                  couverture
                  *</label>
                <input name="image" [(ngModel)]="campagne.photo" type="hidden" name="form[data][4][0]"
                  value="entreprise.logo" id="form[data][4][0]-ampForm13-1p" data-form-field="">
                <input amp-value="myStateampForm131p.formdata41ampForm131p.stateformdata41ampForm131p"
                  on="change:AMP.setState({myStateampForm131p:{formdata41ampForm131p:{valueformdata41ampForm131p: event.value}}})"
                  id=myInput type="file" accept="image/*" name="form[data][4][1]" placeholder="Fichier"
                  data-form-field="image" required="required" class="field-input display-7" value=""
                  id="form[data][4][1]-ampForm13-1p" (change)="uploadPhoto($event)">
                <span style="color: red;">{{errors?.photo}}</span>
              </div>
              <div data-for="form[data][3][1]" class="mbr-col-lg-6 mbr-col-md-6 mbr-col-sm-12 field">
                <label for="form[data][3][1]-ampHeader31-27" class="form-control-label mbr-fonts-style display-7">Date
                  Lancement *</label>
                <input type="hidden" name="form[data][3][0]" value="dateLancement" id="form[data][3][0]-ampHeader31-27"
                  data-form-field="">
                <input name="date de lancement" [(ngModel)]="campagne.dateLancement"
                  amp-value="myStateampHeader3127.formdata31ampHeader3127.stateformdata31ampHeader3127"
                  on="change:AMP.setState({myStateampHeader3127:{formdata31ampHeader3127:{valueformdata31ampHeader3127: event.value}}})"
                  type="date" name="form[data][3][1]" data-form-field="dateLancement" required="required"
                  class="field-input display-7" value="2018-07-22" id="form[data][3][1]-ampHeader31-27">
              </div>
              <div data-for="form[data][4][1]" class="mbr-col-lg-6 mbr-col-md-6 mbr-col-sm-12 field">
                <label for="form[data][4][1]-ampHeader31-27" class="form-control-label mbr-fonts-style display-7">Date
                  Clôture *</label>
                <input type="hidden" name="form[data][4][0]" value="dateCloture" id="form[data][4][0]-ampHeader31-27"
                  data-form-field="">
                <input name="date de clôture" [(ngModel)]="campagne.dateCloture"
                  amp-value="myStateampHeader3127.formdata41ampHeader3127.stateformdata41ampHeader3127"
                  on="change:AMP.setState({myStateampHeader3127:{formdata41ampHeader3127:{valueformdata41ampHeader3127: event.value}}})"
                  type="date" name="form[data][4][1]" data-form-field="dateCloture" required="required"
                  class="field-input display-7" value="2018-07-22" id="form[data][4][1]-ampHeader31-27">
              </div>
              <div data-for="form[data][5][1]" class="mbr-col-md-12 mbr-col-sm-12 text-field field">
                <label for="form[data][5][1]-ampHeader31-27"
                  class="form-control-label mbr-fonts-style display-7">Description *</label>
                <input type="hidden" name="form[data][5][0]" value="description" id="form[data][5][0]-ampHeader31-27"
                  data-form-field="">
                <ckeditor [ngModelOptions]="{standalone: true}" [(ngModel)]="campagne.description" [editor]="Editor">
                </ckeditor>
              </div>
              <!-- <div data-for="form[data][6][1]" class="mbr-col-lg-12 mbr-col-md-12 mbr-col-sm-12 field">
                <label for="form[data][6][1]-ampHeader31-27" class="form-control-label mbr-fonts-style display-7">Taguer
                  les collaborateurs</label>
                <input type="hidden" name="form[data][6][0]" value="collaborateurs" id="form[data][6][0]-ampHeader31-27"
                  data-form-field="">
                <textarea
                  on="change:AMP.setState({myStateampHeader3127:{formdata61ampHeader3127:{valueformdata61ampHeader3127: event.value}}})"
                  defaulttext="myStateampHeader3127.formdata61ampHeader3127.stateformdata61ampHeader3127"
                  name="form[data][6][1]" placeholder="Mentionner ici les collaborateurs de l'entreprise en mettant @"
                  data-form-field="collaborateurs" class="field-input display-7"
                  id="form[data][6][1]-ampHeader31-27"></textarea>
              </div> -->
              <hr style="width: 100%;">
              <p class="mbr-text mbr-fonts-style mbr-pt-2 display-7" style="padding-left: 5px;"> Construisez le flow de
                la campagne pour indiquer l'état de progression des dossiers de candidature, certains états sont
                sélectionnés par défaut, ajouter y les autres états dans les quels les dossiers peuvent passer... Vous
                avez aussi la possibilité de trier l'ordre de ces états...</p>
              <div class="mbr-col-12" style="padding-left: 10px;">
                <div class="example-container">
                  <h2>Les états prédéfinis</h2>

                  <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="initialStates"
                    [cdkDropListConnectedTo]="[doneList]" class="example-list" (cdkDropListDropped)="dropState($event)">
                    <div class="example-box" *ngFor="let item of initialStates" [cdkDragData]="item" cdkDrag>
                      {{item.nom}}</div>
                  </div>
                </div>
                <div class="example-container">
                  <h2>Les états sélectionnés</h2>

                  <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="selectedSates"
                    [cdkDropListConnectedTo]="[todoList]" class="example-list" (cdkDropListDropped)="dropState($event)">
                    <div [cdkDragDisabled]="item.type!='intermediaire'" class="example-box"
                      *ngFor="let item of selectedSates" [cdkDragData]="item" cdkDrag>{{item.nom}}</div>
                  </div>
                </div>
              </div>
              <div class="mbr-col-md-12 mbr-col-sm-12">
                <a style="float: right;" (nzTooltipVisibleChange)="hideTooltip()" [nzTooltipVisible]="true"
                  [nzTooltipTitle]="tooltipTitle" nzTooltipPlacement="leftTop" nz-tooltip>
                  <button nz-button nzType="primary" nzSize='large' type="button" [nzLoading]="isCampagneCreating"
                    (click)="save()"
                    [disabled]="form.invalid || selectedEntreprise == undefined || selectedHashtags.length == 0 || selectedCategorieEmploi == undefined || selectedTypeOffres.length == 0 || campagne.photo == undefined">Enregistrer</button>
                </a>
              </div>
            </div>
          </form>
          <!--Formbuilder Form-->
        </div>
      </div>
    </div>
  </div>
</section>